


ul {
  list-style:none
}
.resLink {
  margin-top:0px;
  margin-bottom:25px
}
.tldr-page {
  letter-spacing: 0px;
  max-width:750px;
  justify-content: center;
  display:grid;
  margin-left:auto;
  margin-right:auto; 
}


.social-buttons-home a {
margin:20px;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}



  /* media queries */
@media screen and (min-width: 750px) {
.social-buttons-home a {
    margin:20px;
    }

.connect {
  grid-area:Connect;
}
#connect:hover {
  color:dodgerblue;
  background-color:transparent;
}
#gotit {
  color:rgb(52, 1, 82)
}
#gotit:hover {
  color:dodgerblue;
}
.tldr-projects {
  align-items:center;
  display:grid;
  grid-auto-columns: min-content;
  text-align:center;
  justify-content:center;
  flex-shrink:5;
}
.about-pic {
  filter: sephia(100%);
  border-radius:40%;
  width:125px;
  height:150px;
}


.tldr-page {
  letter-spacing: 0px;
  max-width:1000px;
  justify-content: center;
  display:grid;
  margin-left:auto;
  margin-right:auto;  
}
h4 {
  margin-left:25px;
}
.tldr-nav {
  align-items:center;
  justify-content: space-between;
}
.tldr-list {
  display:flex;
  justify-content:center;
  align-items:stretch;
}
.tldr-list li {
  padding:15px;
  font-weight:bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.meths {
  justify-content: center;
  background:silver;
  border:1px solid black;
  box-shadow: 16px 4px 8px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align:left;
  color:black;
}
.social-home {
  width:12%;
  display:flex;
  align-items:center;
  margin-top:100px;
  align-items:flex-start;
  z-index:2;
}
.meths:hover {
  box-shadow: 16px 16px 100px 20px rgba(255, 255, 255, 0.452);
}
.meths:hover h4{
  color:white;
  font-weight:bolder;
}
.langframe {
  text-align:left;
  justify-content: center;
  background:silver;
  border:1px solid black;
  color:black;
  align-items:center;
  box-shadow: 16px 4px 8px 8px rgba(0,0,0,0.2);

}
.langframe:hover {
  box-shadow: 16px 16px 100px 20px rgba(255, 255, 255, 0.452);
}
.langframe:hover h4{
  color:white;
  font-weight:bolder;
}
.ml:hover {
  box-shadow: 16px 16px 100px 20px rgba(255, 255, 255, 0.452);
}
.ml:hover h4{
  color:white;
  font-weight:bolder;
}
.ml {
  justify-content: center;
  background:silver;
  border:1px solid black;
  box-shadow: 16px 4px 8px 8px rgba(0,0,0,0.2);
  color:black;
}
.meth-label {
  text-align:left;
}

.project1 {
  align-items:center;
  
  max-width:275px;
 

}
.ds-info {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  letter-spacing:0px;
  font-weight:bold;
}
.ds-info h4 {
  font-size:16px;
}
.name-info {
  display:flex;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "Name INFO";
  justify-content:center;
}
.info {
display:inline-block;
flex-direction:column-reverse;
}
ul {
  list-style:none
}
.tldr-projects {
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  margin-bottom:20px;

}
.name-avatar {
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-areas: 
  "pic Text";
}
.avatar {
  grid-area: Name;
  max-width:200px;
  align-items:flex-end;
  justify-content: flex-end;
  overflow:hidden;
  float:right;
}
.phonemail {
  grid-area:PhoneMail;
  display:flex;
  align-content: center;
  justify-content: center;
}

.basics {
  display:flex;
  flex-direction:column;
  margin-top:5px;
  text-align:center;
}
.social-menu {
  display:inline-block;
  flex-wrap:wrap;
  width:50%;
  margin:100px 0px 40px 0px;
  align-self:center;
  box-sizing: border-box;  
}
.social-home {  
  width:100%;
  display:flex;
  align-self: flex-start;
  justify-content: flex-end;
  margin-top:0px;
  z-index:10;  
}

.social-socialmodal {
  background:black;
  border-radius:5%;  
}
.social-socialmodal a {
margin:10px  
}

.home-page {
  color:white;
  display:grid;  
  grid-template-columns: 1fr;
  grid-template-rows:1fr 1fr 1fr;
  grid-template-areas:
  "SocialButtons"
  "Main"
  "Connect";
}
.home-content {
  grid-area:Main;
}
.connect {
  grid-area:Connect;
  align-self: center;
  justify-content:center;
  align-items: center;
  text-align:center;
}
.social-buttons-home {
  background:black;
  grid-area:SocialButtons;
  margin-top:15px;
}
.gotoprojects {
  margin-top:50px;
}
.stnc-grid {
  display:flex;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:  
  "Logo CInfo";
  align-content: center;
  overflow: hidden;
  width: 100%;  
}
.s3c-grid {
  display:flex;
  align-content: center;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:  
  "Logo CInfo";
  width: 100%;  
}

.clogo {
  grid-area:Logo;  
  float:left;

}
.fcc li {
  font-size:12px;
}
.company {
  grid-area:CInfo;
  font-size:24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:bold;
}
.location {
  font-size:14px;
  grid-area:LInfo;
  font-weight:8px;
}
.position {
  text-align:left;
  font-weight: bold;
}

.duties {
  list-style: outside;
  max-width:1000px;
}
.date-span {
  float:right;
  align-content:right;
  grid-area:Dates;
  height:25px;
  padding-top:20px;
}
.project2 {
  width:275px;
  padding:0px 25px 0px 25px;


}
.stnc-info {
  grid-area:CInfo;
  overflow: hidden;
  justify-content:center;
  text-align:center;
  width:100%;
  padding:20px 0px 5px 0px;
}
.s3c-info {
  grid-area:CInfo;
  overflow: hidden;
  justify-content:center;
  text-align:center;
  width:100%;
  padding:20px 0px 5px 0px;

}
.op-info {
  grid-area:CInfo;
  overflow: hidden;
  justify-content:center;
  text-align:center;
  width:100%;
  padding:20px 0px 5px 0px;
}
.op-grid {
  display:flex;
  align-content: center;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:  
  "Logo CInfo";
  width: 100%;  
}
.clogo-cont {
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-area:LOGOS;
  justify-content:space-evenly;
}

.current-text {
  grid-area:TEXT1;
}
.current-grid {
  display:flex;
  align-content: center;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "LOGOS TEXT1";
  width:100%;
}

.wells-info {
  grid-area:CInfo;
  overflow: hidden;
  justify-content:center;
  text-align:center;
  width:100%;
  padding:20px 0px 5px 0px;
}
.wells-grid {
  display:flex;
  align-content: center;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:  
  "Logo CInfo";
  width: 100%;  
}
.edu-name {
  font-size:24px;
}
.degree {
  font-size:16px;
}
.focus {
  font-size:12px;
}
.education {
  overflow: hidden;
  width:100%;
  text-align:center;
  display:grid;
  grid-template-areas: 
  "CSUSM"
  "Thinkful"
  "FCC";
  
}
.csusm {
  grid-area:CSUSM;
  display:flex;
  margin-bottom:25px;  
}
.fcc {
  grid-area:FCC;
  display:flex;
    
}
.thinkful {
  grid-area:Thinkful;
  display:flex;
  margin-bottom:25px;  
}

#title {
  margin-bottom:0px;
  margin-top:5px;
}
#skills {
  margin-top:20px;
}


.basics.body {
  display:flex;
}
.home-content {
  display:block;
  justify-content:center;
  text-align:center;
}

}