@import url('https://fonts.googleapis.com/css?family=Russo+One');

.drumkit-container {
  display: grid;
  justify-content: center;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "PADS CONTROLS";

}
.pad-bank {
    grid-area:PADS;
    width: 100px;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 5px;}

.drum-pad {
        float: left;
        width: 100px;;
        height: 100px;;
        margin-right: 10px;
        border-radius: 5px;
        padding-top: 35px;
        box-sizing: border-box;
        cursor: pointer;
      }

.inner-container {
  outline: 5px solid orange;
  position: relative;
  text-align: center;
  background-color: grey;
  
  }
.control {
  width: 100px;
  float:right;

      }

  .controls-container {
    width: 240px;
    height: 100px;
    margin: 40px 20px 0 10px;
    vertical-align: top;
    float:right;     
    }
#display {
      width: 200px;
      background-color: red;
      margin: 15px auto;
      padding: 15px;
      box-sizing: border-box;
    }
  


.outer-select {
  margin: auto;
  border: 1px solid black;
  width: 50px;
  height: 20px;
  padding: 1px;
  background-color: black;
}

.inner-select {
  width: 23px;
  height: 19px;
  background: blue;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .inner-container {
    transform: scale(0.7);
  }
}




